/* Styles for the h1 and h2 headings */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 57px;
    text-decoration: underline;
  }
  
  h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    text-decoration: underline;
  }
  
  /* Styles for the input box */
  input {
    width: 300px;
    height: 15px;
  }
  
  /* Center align the search box */
  .aligncenter {
    text-align: center;
  }
  
  /* Styles for the content and the image in the content section */
  #content {
    position: relative;
  }
  
  #content img {
    position: absolute;
    top: 12px;
    right: 104px;
    border: solid 2pt black;
  }
  
  /* Styles for the connexion section */
  #connex {
    position: relative;
  }
  
  #connex h3 {
    position: absolute;
    top: 5px;
    right: 20px;
  }
  
  /* Styles for the logo and image in the logo section */
  #logo {
    position: absolute;
    right: 0px;
    top: 10px;
  }
  
  #logo img {
    position: absolute;
    top: 90px;
    right: 1110px;
    border: solid 3pt black;
  }
  
  /* Styles for the search bar */
  .wrapper {
    position: absolute;
    top: 123px;
    right: 800px;
  }
  
  /* Styles for the search icon */
  .loupe {
    position: absolute;
    top: 123px;
    right: 779px;
  }
  
  /* Styles for the text section */
  .txt {
    position: absolute;
    top: 200px;
    right: 813px;
  }
  
  /* Styles for the background image */
  body {
    background-image: url(Images/background.PNG);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  